{% load static %}
{% include 'seguros/partials/head.html' %}


	<title>Seguro Residencial | FUTURA DIGITAL</title>
</head>

<body>
	{% include 'seguros/partials/menu.html' %}
	
	<!-- Início da Tela principal -->
	<div class="container border border-2 rounded p-5">
		<div class="titulo">
			<h1 id="titulo" style="text-align:center">Seguro Residencial</h1>
			<div class="">
				<div>
					<div class="" style="float: left; padding-right: 20px">
						<img src="{% static 'seguros/images/casa.jpg' %}" style="width: 320px"/>
					</div>
					<div class="container">
						<p>Nosso cantinho reflete a nossa personalidade. Cuidar do lugar onde moramos é cuidar de nós mesmos. Faça do seu lar um refúgio de segurança e proteção, no qual você possa ser você mesmo, sem se preocupar com o inesperado.</p>
                            <br>
                            <h4>Preencha os dados abaixo, para que um dos nossos corretores entre em contato:</h4>
					</div>
				</div>
			</div>
		</div>

		<div style="display:flex">
			<div class="container formularioseguro">
				<form method="post" action="">{% csrf_token %}
					<div class="form-group">
						<div class="form-row mb-3">
							<input id="nome" type="text" name="nome" class="form-control" placeholder="Nome completo" required />
						</div>
						<div class="form-row mb-3">
							<input id="telefone" type="tel" name="telefone" class="form-control" placeholder="Telefone" required />
						</div>
						<div class="form-row mb-3">
							<input id="email" type="email" name="email" class="form-control" placeholder="Email" />
						</div>
					</div>

					<div class="form-row">
						<textarea name="mensagem" class="form-control" rows="5" placeholder="Observações"></textarea>
					</div>
					<br>
					{{form.captcha}}
					{% include 'seguros/partials/message.html' %}

					<button type="submit" value="Submit" class="btn btn-primary">Enviar!</button>
				</form>
			</div>

		</div>
	</div>
	<br><br>
	<!-- Fim da Tela principal -->
	
	{% include 'seguros/partials/scripts.html' %}
</body>

{% include 'seguros/partials/footer.html' %}
</html>

