{% load static %}
{% include 'seguros/partials/head.html' %}


	<title>Contato | FUTURA DIGITAL</title>
</head>

<body>
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close mt-3">
				<span class="icon-close2 js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<header class="site-navbar js-sticky-header site-navbar-target" role="banner">
		{% include 'seguros/partials/menu.html' %}
	</header>

	<!-- Início da Tela principal -->
	<div class="container">
		<div class="titulo">
			<h1 id="titulo" style="text-align:center">Fale conosco</h1>
			<div class="descricaoseguro">
				<div>
					<div style="float: left">
						<img src="https://loremflickr.com/320/240" />
					</div>
					<div class="container">
						<p>Deixe sua dúvida, elogio ou sugestão, que em breve retornaremos o contato.</p>
					</div>
				</div>
			</div>
		</div>




		<div style="display:flex">
			<div class="container formularioseguro">
				<form method="post" action="">{% csrf_token %}
					<div class="form-group">
						<div class="form-row mb-3">
							<input id="nome" type="text" name="nome" class="form-control" placeholder="Nome completo" required />
						</div>
						<div class="form-row mb-3">
							<input id="telefone" type="tel" name="telefone" class="form-control" placeholder="Telefone" required />
						</div>
						<div class="form-row mb-3">
							<input id="email" type="email" name="email" class="form-control" placeholder="Email" />
						</div>
					</div>

					<div class="form-row">
						<textarea name="mensagem" class="form-control" rows="5" placeholder="Observações"></textarea>
					</div>
					<br>
					{{form.captcha}}
					{% include 'seguros/partials/message.html' %}

					<button type="submit" value="Submit" class="btn btn-primary">Enviar!</button>
				</form>
			</div>

		</div>
	</div>
	<!-- Fim da Tela principal -->
	
	{% include 'seguros/partials/scripts.html' %}
</body>

{% include 'seguros/partials/footer.html' %}
</html>

