{% load static %}
{% include 'seguros/partials/head.html' %}


	<title>Home | FUTURA DIGITAL</title>
</head>

<body class="blackbody">
    {% include 'seguros/partials/message.html' %}
	<section class="hidden">
        <div class="container borda">
            <br>
            <div class="container">
                <img src="{% static 'seguros/images/futura-logo.png' %}" 
                class="imagem" width="70%" alt="Logomarca Futura Digital Seguros">
            </div>
            <div class="container">
                <br><br><br><br>
                <div class="container">
                    <h5>A <strong>FUTURA DIGITAL Seguros</strong> trabalha com as maiores seguradoras do mercado brasileiro, atuando nos ramos de Automóvel, Vida, Residencial, Empresarial e Viagem.</h5>
                <br><br><br><br>
                </div>
            </div>
            <br>
        </div>
    </section>

    <section class="hidden">
        <a href="../auto" class="semlink">
            <div class="container borda p-5">
                <h1>Seguro Auto</h1>
                <br>
                <div class="imagemdiv">
                    <img src="{% static 'seguros/images/image_auto.jpg' %}" width="70%">
                </div>
                <br>
                <h5>Um Seguro auto adaptado às suas necessidades. 
                    Em tempos de estresse e vida agitada, 
                    ficar tranquilo em relação ao nosso veículo 
                    é o que todos queremos. 
                    Seu carro protegido e garantido, esse é o nosso objetivo.</h5>
                    <br>
                <button type="button" class="btn btn-primary btn-lg">Faça a sua cotação GRATUITA aqui!</button>
                
            </div>
            
        </a>
    </section>

    <section class="hidden">
        <a href="../casa" class="semlink">
            <div class="container borda p-5">
                <h1>Seguro Residencial</h1>
                <br>
                <div class="imagemdiv">
                    <img src="{% static 'seguros/images/image_residencial.jpg' %}" width="70%">
                </div>
                <br>
                <h5>Nosso cantinho reflete a nossa personalidade. Cuidar do lugar onde moramos é cuidar de nós mesmos. Faça do seu lar um refúgio de segurança e proteção, no qual você possa ser você mesmo, sem se preocupar com o inesperado.</h5>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg">Faça a sua cotação GRATUITA aqui!</button>
                    
                </div>
        </a>
    </section>

    <section class="hidden">
        <a href="../empresa" class="semlink">
            <div class="container borda p-5">
                <h1>Seguro Empresarial</h1>
                <br>
                <div class="imagemdiv">
                    <img src="{% static 'seguros/images/image_empresarial.jpg' %}" width="70%">
                </div>
                <br>
                <h5>Tranquilidade no trabalho é fundamental. Sua empresa deve investir tempo, energia e recursos no que realmente importa. Proteja a sua empresa. Aqueles que cuidam do que têm podem assumir mais riscos.</h5>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg">Faça a sua cotação GRATUITA aqui!</button>
                    
                </div>
        </a>
    </section>

    <section class="hidden">
        <a href="../viagem" class="semlink">
            <div class="container borda p-5">
                <h1>Seguro Viagem</h1>
                <br>
                <div class="imagemdiv">
                    <img src="{% static 'seguros/images/image_viagem.jpg' %}" width="70%">
                </div>
                <br>
                <h5>Viajar é uma das melhores coisas do mundo! E temos o seguro que vai te deixar tranquilo para curtir sem se preocupar com o inesperado. Aproveita a sua viagem enquanto nós cuidamos da sua segurança.</h5>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg">Faça a sua cotação GRATUITA aqui!</button>
                    
                </div>
        </a>
    </section>

    <section class="hidden">
        <a href="../vida" class="semlink">
            <div class="container borda p-5">
                <h1>Seguro de Vida</h1>
                <br>
                    <div class="imagemdiv">
                        <img src="{% static 'seguros/images/image_vida.jpg' %}" width="70%">
                    </div>
                <br>
                <h5>Esse é o seguro para cuidar de quem amamos. Proteja os seus familiares e as pessoas que você ama. Garanta um futura de segurança financeira e estabilidade.</h5>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg">Faça a sua cotação GRATUITA aqui!</button>
                    
                </div>
        </a>
    </section><br><br><br>

    <section class="hidden" id="sectioncontato">
        <div class="container borda p-5">
                <br>
                    <h1 id="titulo" style="text-align:center">Fale conosco</h1>
                    <br>
                    <div class="container">
                            <div class="imagemdiv">
                                <img src="{% static 'seguros/images/contato.jpg' %}" width="70%">
                            </div><br>
                                <h5>Deixe sua dúvida, elogio ou sugestão, que em breve retornaremos o contato.</h5>
                            <br>
                            <br>
                            <div class="container p-5">
                            <form method="post" action="">{% csrf_token %}
                                <div class="form-group">
                                    <div class="form-row mb-3">
                                        <input id="nome" type="text" name="nome" class="form-control" placeholder="Nome completo" required />
                                    </div>
                                    <div class="form-row mb-3">
                                        <input id="telefone" type="tel" name="telefone" class="form-control" placeholder="Telefone" required />
                                    </div>
                                    <div class="form-row mb-3">
                                        <input id="email" type="email" name="email" class="form-control" placeholder="Email" />
                                    </div>
                                </div>
            
                                <div class="form-row">
                                    <textarea name="mensagem" class="form-control" rows="5" placeholder="Observações"></textarea>
                                </div>
                                <br>
                                {{form.captcha}}
                                
            
                                <button type="submit" value="Submit" class="btn btn-primary">Enviar!</button>
                            </form>
                        </div>
                    </div>
            </div>
    </section>

	{% include 'seguros/partials/scripts.html' %}
</body>

</html>
