{% load static %}
{% include 'seguros/partials/head.html' %}


	<title>Sobre nós | FUTURA DIGITAL</title>
</head>

<body>
	{% include 'seguros/partials/menu.html' %}
	
	<!-- Início da Tela principal -->
	<div class="container  p-5">
		<div class="titulo">
			<h1 id="titulo" style="text-align:center">Sobre a FUTURA DIGITAL</h1>
			<div class="">
				<div>
					<div class="" style="float: left; padding-right: 20px">
						<img src="{% static 'seguros/images/about.png' %}" style="width: 300px"/>
					</div>
					<div class="container">
<br>
						<p>A Futura Digital é a extensão online da corretora Futura. Por meio dos nossos canais onlines, agora podemos atender nossos clientes de uma mandeira mais ágil de eficiente.</p>
                        <br>
					</div>
				</div>
			</div>
		</div>

		
	</div>
	<br><br>
	<!-- Fim da Tela principal -->
	
	{% include 'seguros/partials/scripts.html' %}
</body>

{% include 'seguros/partials/footer.html' %}
</html>

