{% load static %}
{% include 'seguros/partials/head.html' %}


	<title>Seguro Viagem | FUTURA DIGITAL</title>
</head>

<body>
	{% include 'seguros/partials/menu.html' %}
	
	<!-- Início da Tela principal -->
	<div class="container border border-2 rounded p-5">
		<div class="titulo">
			<h1 id="titulo" style="text-align:center">Seguro Viagem</h1>
			<div class="">
				<div>
					<div class="" style="float: left; padding-right: 20px">
						<img src="{% static 'seguros/images/viagem.jpg' %}" style="width: 320px"/>
					</div>
					<div class="container">
						<p>Viajar é uma das melhores coisas do mundo! E temos o seguro que vai te deixar tranquilo para curtir sem se preocupar com o inesperado. Aproveita a sua viagem enquanto nós cuidamos da sua segurança.</p>
							<br>
							<h4>Preencha os dados abaixo, para que um dos nossos corretores entre em contato:</h4>
					</div>
				</div>
			</div>
		</div>




		<div style="display:flex">
			<div class="container formularioseguro">
				<form method="post" action="">{% csrf_token %}
					<div class="form-group">
						<div class="form-row mb-3">
							<input id="nome" type="text" name="nome" class="form-control" placeholder="Nome completo" required />
						</div>
						<div class="form-row mb-3">
							<input id="telefone" type="tel" name="telefone" class="form-control" placeholder="Telefone" required />
						</div>
						<div class="form-row mb-3">
							<input id="email" type="email" name="email" class="form-control" placeholder="Email" />
						</div>

						<div class="form-row mb-3">
							<select class="custom-select" name="tipo_viagem" id="tipo_viagem" required onChange="update()">
								<option value="">Selecione o tipo de viagem</option>
								<option value="nacional">Nacional</option>
								<option value="internacional">Internacional</option>
							</select>
						</div>



						<div class="row">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="origem">Origem</label>
									</div>
									<select class="custom-select" id="origem" name="origem" required>
										<option value="selecione">Selecione o tipo de viagem</option>
										<option value="selecione">Selecione o tipo de viagem</option>
									</select>
								</div>


							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="destino">Destino</label>
									</div>
									<select class="custom-select" id="destino" name="destino" required>
										<option value="selecione">Selecione o tipo de viagem</option>
										<option value="selecione">Selecione o tipo de viagem</option>
									</select>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Meio de
											transporte</label>
									</div>
									<select class="custom-select" name="meio_transporte" id="inputGroupSelect01" required>
										<option value="">Selecione</option>
										<option value="aereo">Aéreo</option>
										<option value="maritimo">Marítimo</option>
										<option value="aereomaritimo">Aéreo + Marítimo</option>
									</select>
								</div>
							</div>
							<div class="col">

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Motivo da
											viagem</label>
									</div>
									<select class="custom-select" name="motivo_viagem" id="inputGroupSelect01" required>
										<option value="">Selecione</option>
										<option value="lazer">Lazer</option>
										<option value="estudo">Estudo</option>
										<option value="negocios">Negócios</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Data de
											ida</label>
									</div>
									<input type="date" id="data_ida" name="data_ida" required>
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Data de
											volta</label>
									</div>
									<input type="date" id="data_volta" name="data_volta" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Viajantes
											com até
											64
											anos</label>
									</div>
									<input class="quantity" name="viajantes_ate_64" id="id_form-0-quantity" min="0" name="form-0-quantity"
										value="" type="number" style="width:50px" required>
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Viajantes
											com 65
											anos
											ou
											mais</label>
									</div>
									<input class="quantity" name="viajantes_65_mais" id="id_form-0-quantity" min="0" name="form-0-quantity"
										value="" type="number" style="width:50px" required>
								</div>
							</div>
						</div>

					</div>

					<div class="form-row">
						<textarea name="mensagem" class="form-control" rows="5" placeholder="Observações"></textarea>
					</div>
					<br>
					{{form.captcha_viagem}}
					{% include 'seguros/partials/message.html' %}

					<button type="submit" value="Submit" class="btn btn-primary">Enviar!</button>
				</form>
			</div>

		</div>
	</div>
	<br><br>
	<!-- Fim da Tela principal -->
	
	{% include 'seguros/partials/scripts.html' %}
</body>

{% include 'seguros/partials/footer.html' %}
</html>

