{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{% static 'seguros/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'seguros\assets\css\style.css' %}">

    <!-- Google tab(gtag.js) - Google Analytcs -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2X1T9XCCVL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2X1T9XCCVL');
    </script>
