{% load static %}


<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <img src="{% static 'seguros/images/futura-logo.png' %}" class="imagemmenu" width="25%" alt="Logomarca Futura Digital Seguros">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" style="font-size: 20px">
        <li class="nav-item active">
          <a class="nav-link" href="../">Início</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../auto">Automotivo</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../casa">Residencial</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../empresa">Empresarial</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../viagem">Viagem</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../vida">Vida</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../sobre">Sobre nós</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../#sectioncontato">Contato</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<br>
